
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>GeoDa.app</title>
<style>
#login {
    width: 80%;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
</style>
<script src="/media/js/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>

<div id="login"> 
  <table>
    <tr>
    <td style="vertical-align:top"> 
        <img src="/media/img/cloud.png"/>
        <font style="color: #666;" size=16 face="Century Gothic">{</font>
        <font style="color: #666; font-size: 30px">'Spatial Data Analysis':</font>
        <font style="color: #666; font-size: 30px" face="Copperplate">WEB</font>
        </font><font style="color: #666;" size=16 face="Century Gothic">}</font>
    </td>
    <td style="padding-left:50px">
        <font style="color: #666;" face="Century Gothic">
        User ID:<br/>
        <input type="text" id="txt-uid" value='xun'></input><br/>
        Password:<br/>
        <input type="password" id="txt-pwd" value='xun'></input><br/>
        <button id="btn_login">Login </button>
        <br/><br/><br/>
        Test users:<br/>
        xun/xun<br/>
        luc/luc<br/>
        julia/julia<br/>
        mark/mark<br/>
        </font>
    </td>
    </tr>
</div>
<script>
$('#btn_login').click( function() {
  var userid = $('#txt-uid').val(); 
  var pwd = $('#txt-pwd').val(); 
  console.log("click", userid, pwd);
  $.post("/myapp/login/", {"userid":userid, "pwd": pwd,csrfmiddlewaretoken: '{{ csrf_token }}'})
  .done(function(data) {
    location.reload();
  });
});
</script>

</body>
</html>
