<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>GeoDa.app</title>
<style>
body{
}
#login {
    width: 80%;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
.logintable, logintable TD, logintable TH{
  margin-left:10px;
  font-family: Century Gothic;
  font-size: 10pt;
  color: #666;
}
.logintable input{
  padding: 4px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.signuptable input{
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  color: #333;
}
.signuptable input:focus,
.signuptable input.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
</style>
<script src="{{url_prefix}}/media/js/jquery.min.js"></script>
<link rel="stylesheet" href="{{url_prefix}}/media/css/{{theme_jquery}}/jquery-ui-1.10.4.custom.min.css">
</head>
<body>

<div id="login"> 
  <table>
    <tr>
    <td style="vertical-align:top"> 
      <p>
        <img src="{{url_prefix}}/media/img/cloud.png"/>
        <font style="color: #666;" size=16 face="Century Gothic">{</font>
        <font style="color: #666; font-size: 30px">'Spatial Data Analysis':</font>
        <font style="color: #666; font-size: 30px" face="Copperplate">WEB</font>
        </font><font style="color: #666;" size=16 face="Century Gothic">}</font>
      </p>
      <p style="text-align:right;">
      <form id="form-login">{% csrf_token %}
      <table class="logintable">
        <tr>
          <td>
            Your Email:
          </td>
          <td>
            Password:
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" name="email" value=''></input>
          </td>
          <td>
            <input type="password" name="password" value=''></input>&nbsp;
            <button id="btn_login" class="ui-state-default button-text-only">Login </button>
          </td>
        </tr>
      </table>
      </form>
      </p>
    </td>
    <td style="padding-left:100px">
      <font style="font-size:30px" face="Century Gothic"> Sign Up </font>
      <br/><br/> 
      <form id="form-signup">{% csrf_token %}
      <table class="signuptable" width="400px">
        <tr>
          <td width=100%>
            <input type="text" name="first_name" value='First Name'></input>
            <input type="text" name="last_name" value='Last Name'></input>
          </td>
        </tr>
        <tr>
          <td>
            <input style="width:268px" type="text" name="email" value='Email'></input>
      <img id="img-id-chk" src="{{url_prefix}}/media/img/checkmark.png">
      <img id="img-id-nochk" src="{{url_prefix}}/media/img/uncheckmark.gif">
      <img id="img-id-spin" src="{{url_prefix}}/media/img/loading_small.gif">
          </td>
        </tr>
        <tr>
          <td>
            <input style="width:268px" type="text" name="reemail" value='Re-enter Email'></input>
          </td>
        </tr>
        <tr>
          <td>
            <input style="width:268px" type="text" name="password" value='Enter Password'> </input>
          </td>
        </tr>
      </table>
      </form>
      <br/>
      <font style="font-size:10px" face="Century Gothic"> &nbsp;&nbsp;By clicking Sign Up, you agree to our Terms and Policy.</font>
      <br/>
      <br/>
      <p class="text-align:right;">
      <button id="btn_signup" class="ui-state-default button-text-only" style="width:100">Sign Up</button>
      </p>
    </td>
  </tr>
  </table>
  <div style="width: 900px; border-top: 1px #ccc solid; margin-top:140px; padding-top:20px; opacity: 0.2;text-align: center;">
  <img src="https://geodacenter.asu.edu/drupal_files/geoda_logo.png"><br/>
  </div>
</div>
<script>
$("#img-id-chk, #img-id-nochk, #img-id-spin").hide();          

$('#btn_login').click( function() {
  $.post("../login/", $("form-login").serialize())
  .done(function(data) {
    console.log(data);
    location.reload();
  })
  .fail( function(xhr, textStatus, errorThrown) {
    console.log(xhr.responseText);
  });
});

$('#btn_signup').click( function() {
  $.post("../signup/", $("form-signup").serialize())
  .done(function(data) {
    console.log(data);
    location.reload();
  })
  .fail( function(xhr, textStatus, errorThrown) {
    console.log(xhr.responseText);
  });
});

$("btn_signup").css({width: '100px'});

function setupInput(name, placeholder) {
  $(".signuptable input[name="+name+"]").focus(function() {
    if ($(this).val() == placeholder) {
      $(this).val('');
    }
  }).blur(function(){
    if ($(this).val() == '') {
      $(this).val(placeholder);
    }
  });
}
setupInput("first_name", "First Name");
setupInput("last_name", "Last Name");
setupInput("email", "Email");
setupInput("reemail", "Re-enter Email");
$('.siguptable input[name=password]').focus(function() {
  if ($(this).val() == "Enter Password") {
    $(this).attr("type", "password");
    $(this).val('');
  }
});
$('.siguptable input[name=password]').blur(function() {
  if ($(this).val() == '') {
    $(this).attr("type", "text");
    $(this).val("Enter Password");
  }
});
</script>
</body>
</html>
